.e4{
    .borda{
        width: 100%;
        height: 4px;
        background-color:  #37B7FF;
        margin-top: 2vh;
        border: 1px solid #37B7FF;
    }

    .texto{
            display: flex;
            gap: 20px;
            margin-left: 10vh;
            margin-top: 7vh;

            h1{
                font: 700 26px 'Roboto';
                margin-top: 0.3vh;
            }

           .seta{
                width: 40px;
                height: 40px;
            } 
        }

        
    
     .mae{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .quadrado2{
            display: flex;
            align-items: center;
            flex-direction: row;
            border: 1px solid #fff;
            background-color: #fff;
            width: 647px;
            height: 194px;
            gap: 20px;
            margin-top: 4vh;
            border-radius: 12px;
            box-shadow: 0px 0px 14px 1px rgba(173, 173, 173, 0.25);

            h3{
            font: 700 18px 'Roboto';
            font-weight: bold;
            margin-top: 80px;
            }

            .primeiro{
                margin-top: -150px;
                margin-left: 50px;
            }
            .segundo{
                margin-top: -150px;
                margin-left: 50px;
            }
            .terceiro{
                margin-top: -150px;
                margin-left: 30px;
            }
        }
        
        
        input{

            width: 120px;
            height: 41px;
            border-radius: 12px;
            border-color: #A5A5A5;
            margin-top: 20px;
        }
     }   
        

        #textoResposta{
            margin-top: 2vh;
            font: 700 18px 'Roboto';
        }
        .resultado-container {
            display: flex;
            justify-content:end;
            width: 34%;
            margin-top: 0rem;
    
        } 
        
        #botaoAzul{
            background-color: #6278F7;
            color: #fff;
            border: 0px solid #6278F7;
            border-radius: 12px;
            width: 216px;
            height: 50px;
            font: 700 16px 'Roboto';
            margin-left: -285px;
            margin-top: 110px;
            cursor: pointer;
        }
}