.e12{
    .borda{
        width: 100%;
        height: 4px;
        background-color:
        #FFCE37;
        margin-top: 2vh;
        border: 1px solid 
        #FFCE37;
    }
    .texto{
        display: flex;
        gap: 20px;
        margin-left: 10vh;
        margin-top: 7vh;
        
        .seta{
        width: 40px;
        height: 40px;
        }
    }
    h1{
        font: 700 28px 'Roboto';
    }

    .principal{
        display: flex;
        flex-direction: row;
        justify-content: center;
       .info{
        display: flex;
        flex-direction: column;
        align-items: left;
        border: 1px solid #fff;
        background-color: #fff;
        width: 500px;
        height: 370px;
        margin: 20px;
        padding: 20px;
        border-radius: 12px;
        gap: 20px;
        h1{
            font: 700 18px 'Roboto';
        }
        p{
            font: 400 16px 'Roboto';
        }
        .infos1{
            #inputNome{
                width: 414px;
                height: 39px;
                border-radius: 17px;
                border: 1px solid #A5A5A5;
            } 
            h1{
                margin: 15px 0px;
            }
        }

        .infos2{
            h1{

                margin: 5px 0px;
                
            }
        }
        
        #inputIdade{
            width: 414px;
            height: 39px;
            border-radius: 17px;
            border: 1px solid #A5A5A5;
        }
        .mae{
            display: flex;
            flex-direction: row;
            margin-top: -10px;
            .infos3{
                display: flex;
                gap: 10px;
               .SexoM{
                    border-radius: 50px;
                    width: 14px;
                    height: 14px;
                    margin-top: 3px;
                }  
            }

            .infos4{
                display: flex;
                gap: 10px;
                margin: 0px 20px;
               .SexoF{
                    border-radius: 50px;
                    width: 14px;
                    height: 14px;
                    margin-top: 3px;
               }
        }
        .botaoAzul{
            display: flex;
            flex-direction: column;
            margin: 40px -30px;
            button{
                background-color: #6278F7;
                color: #fff;
                border: 0px solid #6278F7;
                border-radius: 12px;
                width: 216px;
                height: 50px;
                font: 700 16px 'Roboto';
            }
        }
    }
} 

.direita{
    margin: 10px;
    .bordaText{

        h1{
            font: 700 18px 'Roboto';
        }

        hr{
            width: 740px;
            border: 1px solid #6533B7;
        }
    }
}


}

    
    
}