.e10 {

    .borda {
        width: 100%;
        height: 4px;
        background-color: 
        #B75333;
        margin-top: 2vh;
        border: 1px solid 
        #B75333;
    }

    .texto {
        display: flex;
        gap: 20px;
        margin-left: 7vh;
        margin-top: 7vh;

        .seta {
            width: 40px;
            height: 40px;
        }
    }

    h1 {
        margin-top: 0.5vh;
        font: 700 26px 'Roboto';
    }

    
    .container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        gap: 40px;
        .principal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            h3{
                font: 700 17px 'Roboto';
            }
            .resultados {
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: center;
                align-items: center;
                border: 1px solid #fff;
                background-color: #fff;
                color: #000;
                margin: 15px;
                border-radius: 20px;
                height: 50px;
                gap: 20px;
                width: 660px;
                padding-left: 10px;
                .imgs{
                    #imgApagar, #imgEditar {
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                    }
                }
            }
            .imgs {
                display: flex;
                flex-direction: row;
                text-align: center;
                gap: 6px;
            }
        }
        .centro{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 80px;
            .esquerda{
            
            .botao1{
                width: 150px;
                height: 41px;
                border-radius: 12px;
                margin-top: 20px;
            }
        }
        .direita{
            
            .botao2{
                width: 150px;
                height: 41px;
                border-radius: 12px;
                margin-top: 20px;
            }
        }
        }
        

        #botaoAzul {
                background-color: #6278F7;
                color: #fff;
                border: 0;
                border-radius: 12px;
                width: 50%;
                max-width: 216px;
                height: 50px;
                font: 700 16px 'Roboto';
                margin-top: 15px;
                margin-left: 160px;
            }
        .sub {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #fff;
            background-color: #fff;
            width: 100%;
            max-width: 540px;
            height: 194px;
            margin-top: 4vh;
            border-radius: 12px;
            box-shadow: 0px 0px 14px 1px rgba(173, 173, 173, 0.25);

        h3{
            font: 700 18px 'Roboto';
            font-weight: bold;
        }
        h4{
            font: 700 18px 'Roboto';
            font-weight: bold;
        }
    }




    }


    
}
