.e2 {
    body {
      background-color: #F5F6FA;
    }
  
    .texto {
      display: flex;
      gap: 20px;
      margin-left: 7vh;
      margin-top: 7vh;
  
      .seta {
        width: 40px;
        height: 40px;
      }

      h1{
        font: 700 26px 'Roboto';
        margin-top: 0.3vh;   
      }
    }
  
  
    .borda {
      border: 1px solid #B3FF37;
      width: 100%;
      height: 4px;
      background-color: #B3FF37;
      margin-top: 2vh;
    }
    
    .mae {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #textoResposta {
        margin-top: 2vh;
        font: 700 18px 'Roboto';
      }

      .informacoes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4vh;
        border: 1px solid #fff;
        background-color: #fff;
        width: 476px;
        height: 187px;
        border-radius: 12px;
        box-shadow: 0px 0px 14px 1px rgba(173, 173, 173, 0.25);
    
        h6 {
          font: 700 18px 'Roboto';
          margin-top: 10px;
          margin-left: -295px;
        }
  
        #botao1 {
          width: 414px;
          height: 41px;
          border-radius: 12px;
          border: 1px solid #A5A5A5;
          margin: 15px;
        }
        
      
        #botaoAzul {
          background-color: #6278F7;
          color: #fff;
          border: 0px solid #6278F7;
          margin-top: 5px;
          border-radius: 12px;
          width: 216px;
          height: 50px;
          font: 700 16px 'Roboto';
          margin-left: 22vh;

        }
  
  
      }
    }
    .resultado-container {
          display: flex;
          justify-content:end;
          width: 24%;
          margin-top: 0rem;
  
      } 
  }
  