.Sobre{
body{
    background-color: #F5F6FA;
}

.texto{
   h6{
        font: 100 23px 'Roboto';
        font-weight: bold;
        margin-left: 7vh;
        margin-top: 5vh;
    } 
}

.frase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7vh;

    #logoFrei{
        width: 120px;
        margin-top: 7vh;
    }
    p{
        font: 400 29px 'Roboto';
    }
}


}
