.mae11 {
    display: flex;
    flex-direction: column;
    background-color:#5865f2;
    height: 45vh;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.mae11 h1{
    font: 800 19px 'arial';
    padding: 20px;
}

.botao{
    border-radius: 30px;
    width: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 55vh;
    height: 50px;
    background-color: #000;
    color: #fff;
    font: 600 16px 'arial';
}