body {
    background-color: #F5F6FA;
}
.pcp{
.treino {
    h1 {
        margin-left: 8vh;
        margin-top: 8vh;
        font: 900 26px 'Roboto';
    }

    p {
        color: #000;
    }
}

.botoes {
    display: flex;
    gap: 8vh;
    margin-left: 60px;
    margin-top: 30px;
    flex-wrap: wrap;
    flex: 1 1 200px;

.m1 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;
    
    h6 {
        font: 900 15px 'Roboto';
        margin-top: 15px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
    }
}

.m2 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;
    
    h6 {
        font: 900 15px 'Roboto';
        margin-top: 15px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
    }
}

.m3 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 15px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
    }
}

.m4 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 15px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
    }
}






.m7 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }


}
.a {
    font: 500 14px 'Roboto';
    text-decoration: none;
}

.m5 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}


.m6 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}

.m8 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;


    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}


.m9 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}

.m10 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}



.m11 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}
}



}
   