body{
    background-color: #F5F6FA;
}

.m1{
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;
    margin-top: 25px;
}

.b1{
    margin-left: 75px;
    border: 1px solid #FFCE37;
    width: 60px;
    height: 60px;
    background-color: #FFCE37;
    margin-top: 10px;
    border-radius: 12px;
}

.m1 h6{
    font: 900 15px 'Roboto';
    margin-top: 15px;
}

.m1 p{
    font: 500 14px 'Roboto';
    margin-top: 15px;
}

.treino h1{
    margin-left: 8vh;
    margin-top: 8vh;
    font: 900 26px 'Roboto';
}

.treino p{
    color: #000;
}


.m2{
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;
    margin-top: 25px;
}

.b2{
    margin-left: 75px;
    border: 1px solid #B3FF37;
    width: 60px;
    height: 60px;
    background-color: #B3FF37;
    margin-top: 10px;
    border-radius: 12px;
}

.m2 h6{
    font: 900 15px 'Roboto';
    margin-top: 15px;
}

.m2 p{
    font: 500 14px 'Roboto';
    margin-top: 15px;
}



.m3{
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;
    margin-top: 25px;
}

.b3{
    margin-left: 75px;
    border: 1px solid #37FFF3;
    width: 60px;
    height: 60px;
    background-color: #37FFF3;
    margin-top: 10px;
    border-radius: 12px;
}

.m3 h6{
    font: 900 15px 'Roboto';
    margin-top: 15px;
}

.m3 p{
    font: 500 14px 'Roboto';
    margin-top: 15px;
}

.botoes{
    display:flex;
    gap: 8vh;
    margin-left: 60px;
}

.a{
    font: 500 14px 'Roboto';
    text-decoration: none;
}

.m4{
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;
    margin-top: 25px;
    margin-left: 8vh;
}

.b4{
    margin-left: 75px;
    border: 1px solid #ff006a;
    width: 60px;
    height: 60px;
    background-color: #ff006a;
    margin-top: 10px;
    border-radius: 12px;
}

.m4 h6{
    font: 900 15px 'Roboto';
    margin-top: 15px;
}

.m4 p{
    font: 500 14px 'Roboto';
    margin-top: 15px;
}

.m5{
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;
    margin-top: 25px;
    margin-left: 42vh;
    margin-top: -20vh;
}

.b5{
    margin-left: 75px;
    border: 1px solid #130fff;
    width: 60px;
    height: 60px;
    background-color: #130fff;
    margin-top: 10px;
    border-radius: 12px;
}

.m5 h6{
    font: 900 15px 'Roboto';
    margin-top: 15px;
}

.m5 p{
    font: 500 14px 'Roboto';
    margin-top: 15px;
    color: #000;
}






.m6{
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;
    margin-top: 25px;
    margin-left: 77vh;
    margin-top: -20vh;
}

.b6{
    margin-left: 75px;
    border: 1px solid #dd2232;
    width: 60px;
    height: 60px;
    background-color: #dd2232   ;
    margin-top: 10px;
    border-radius: 12px;
}

.m6 h6{
    font: 900 15px 'Roboto';
    margin-top: 15px;
}

.m6 p{
    font: 500 14px 'Roboto';
    margin-top: 15px;
    color: #000;
}