body {
    background-color: #F5F6FA;
}

.treino {
    h1 {
        margin-left: 8vh;
        margin-top: 8vh;
        font: 900 26px 'Roboto';
    }

    p {
        color: #000;
    }
}

.botoes {
    display: flex;
    gap: 8vh;
    margin-left: 60px;
    margin-top: 30px;
    flex-wrap: wrap;
    flex: 1 1 200px;

.m1 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;
    

    .b1 {
        margin-left: 75px;
        border: 1px solid #FFCE37;
        width: 60px;
        height: 60px;
        background-color: #FFCE37;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 15px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
    }
}

.m2 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;
    

    .b2 {
        margin-left: 75px;
        border: 1px solid #B3FF37;
        width: 60px;
        height: 60px;
        background-color: #B3FF37;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 15px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
    }
}

.m3 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    .b3 {
        margin-left: 75px;
        border: 1px solid #37FFF3;
        width: 60px;
        height: 60px;
        background-color: #37FFF3;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 15px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
    }
}

.m4 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    .b4 {
        margin-left: 75px;
        border: 1px solid #ff006a;
        width: 60px;
        height: 60px;
        background-color: #ff006a;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 15px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
    }
}






.m7 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    .b7 {
        margin-left: 75px;
        border: 1px solid #35887d;
        width: 60px;
        height: 60px;
        background-color: #35887d;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }


}
.a {
    font: 500 14px 'Roboto';
    text-decoration: none;
}

.m5 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    .b5 {
        margin-left: 75px;
        border: 1px solid #CB37FF;
        width: 60px;
        height: 60px;
        background-color: #CB37FF;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}


.m6 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    .b6 {
        margin-left: 75px;
        border: 1px solid #FF5B37;
        width: 60px;
        height: 60px;
        background-color: #FF5B37;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}

.m8 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    .b8 {
        margin-left: 75px;
        border: 1px solid #37FFAB;
        width: 60px;
        height: 60px;
        background-color: #37FFAB;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}


.m9 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    .b9 {
        margin-left: 75px;
        border: 1px solid #151515;
        width: 60px;
        height: 60px;
        background-color: #151515;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}

.m10 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    .b10 {
        margin-left: 75px;
        border: 1px solid 
        #D0D0D0;
        width: 60px;
        height: 60px;
        background-color: 
        #D0D0D0;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}



.m11 {
    text-align: center;
    border: 1px solid #fff;
    height: 158px;
    background-color: #fff;
    border-radius: 20px;
    width: 215px;

    .b11 {
        margin-left: 75px;
        border: 1px solid 
        #6533B7;
        width: 60px;
        height: 60px;
        background-color: 
        #6533B7;
        margin-top: 10px;
        border-radius: 12px;
    }

    h6 {
        font: 900 15px 'Roboto';
        margin-top: 17px;
    }

    p {
        font: 500 14px 'Roboto';
        margin-top: 15px;
        color: #000;
    }
}
}
